# Notebook  Tasks

Create the data needed for the model
1. A `for i in loop`, so that:
    - The `name` is composed of the `data folder` the index of the loop and the fileformat which is `.csv`. 
    - The new `df` reads that name
    - Use the `['tweet']` column for `df` to create a new dataframe named `df_2`.
    - Create a new column for `df_2` with the name `channel` and use `i` to assign the name. 
2. Find out if the `data` passed in as a parameter into the function `contains` the `str` of the `name_1` and `name_2` paramenter of that function

In [1]:
# standard imports
import os
import numpy as np
import pandas as pd

# ignore warnings
import warnings
warnings.filterwarnings(action='ignore')

In [3]:
!ls 'data/'

BLaw.csv                               economistimpact.csv
CNN.csv                                forbes.csv
Investor_Business_Daily_IBD_PSeitz.csv fttechnews.csv
TIME.csv                               nytimes.csv
WSJTech.csv                            tweets.csv
bloomberg.csv                          wired.csv

In [4]:
# folder path
dir_path = r'data/'

# list files in directory
res = os.listdir(dir_path)
print(res)

['economistimpact.csv', 'forbes.csv', 'wired.csv', 'fttechnews.csv', 'bloomberg.csv', 'WSJTech.csv', 'CNN.csv', 'Investor_Business_Daily_IBD_PSeitz.csv', 'BLaw.csv', 'nytimes.csv', 'tweets.csv', 'TIME.csv']

Write a `for i in` loop, so that:
- The `name` is composed of the `data folder` the index of the loop and the fileformat which is `.csv`. 
- The new `df` reads that name.
- Use just the `['tweet']` column for `df` to create a new dataframe named `df_2`.
- Create a new column for `df_2` with the name `channel` and use `i` to assign the name.

**Note:** Helpful when creating your dataset from hundreds  sources. Can use [itertools](https://docs.python.org/3/library/itertools.html) from the Python standard library to get a more efficient loop and to create the new data frame.

In [5]:
# forbes == Forbes Tech, bloomberg == Bloomberg Tech, BLaw == Bloomberg Law
# list with magazines to be used
magazines = ['forbes','bloomberg', 'wired','BLaw']

In [6]:
magazines[0]

'forbes'

In [7]:
# create an empty dataframe
data = pd.DataFrame()

# loop over the list of magazines
for i in (magazines): 
    name = i
    #  read cvs file into pandas dataframe   
    df = pd.read_csv(dir_path + '/' + name + '.csv')
    #use  the  tweet column of df  to  create a new dataframe df_2
    df_2 = pd.DataFrame()
    df_2["tweet"]= df["tweet"]
    df_2["channel"] = name 
    # vertecly stack the dataframe to the empty dataframe
    data = pd.concat([data, df_2], axis=0)

In [9]:
data.head()

                                               tweet channel
0  Adidas Headphones Announces Self-Charging Wire...  forbes
1  Apple’s Coolest New iPhone Feature Just Got Be...  forbes
2  The Hidden Power Of Samsung’s New Foldable Gal...  forbes
3  AI Ethics And The Geopolitical Wrestling Match...  forbes
4  Qualcomm AI Research Innovates 3D Perception T...  forbes

Check if the `data` passed in as a parameter into the function `contains` the `str` of the `name_1` and `name_2` paramenters of that fucntion.

In [10]:
data['tweet'].str.contains("Apple", case=False).astype(int)

0      0
1      1
2      0
3      0
4      0
      ..
455    0
456    0
457    0
458    0
459    0
Name: tweet, Length: 1138, dtype: int64

In [11]:
def constains_name(data, name_1, name_2):
    """
    A kind of  one-hot encoding, the function converts a  given name value into a new 
    categorical column and assign a binary value of 1 or 0 to those columns.
    """
    # add a column name_2 and assign 1 if the name_1 can be found and 0 if it can't be found in the tweet
    data[name_2] = data['tweet'].str.contains(name_1, case=False).astype(int)

    return data

In [12]:
search_term_list = ['Apple', 'Tesla', 'Google']
col_header_list = ['apple', 'tesla', 'google']

In [13]:
# add magazines to dataframe using the function
for search, col in zip(search_term_list, col_header_list):
    data = constains_name(data, search, col)

In [14]:
data.head(10)

,tweet,channel,apple,tesla,google
0,Adidas Headphones Announces Self-Charging Wire...,forbes,0,0,0
1,Apple’s Coolest New iPhone Feature Just Got Be...,forbes,1,0,0
2,The Hidden Power Of Samsung’s New Foldable Gal...,forbes,0,0,0
3,AI Ethics And The Geopolitical Wrestling Match...,forbes,0,0,0
4,Qualcomm AI Research Innovates 3D Perception T...,forbes,0,0,0
5,Charge Enterprises Sees Red In Q2 But It’s Ros...,forbes,0,0,0
6,The New Economy Monetizes Consumer Impatience ...,forbes,0,0,0
7,New Report Shows Apple Mulling Brilliant iPhon...,forbes,1,0,0
8,Gmail And GPay Cookies Targeted By New Smartph...,forbes,0,0,0
9,The Q Acoustics Concept 30 Speakers Are Packed...,forbes,0,0,0

# Save to Files

In [15]:
data.to_csv('data/tweets.csv', index=None)